 .u-section-1 {
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?crop=entropy&cs=srgb&fm=jpg&ixid=M3w1NzgzNjl8MHwxfHNlYXJjaHw2fHxUZWNobm9sb2d5fGVufDB8fHx8MTcxNTk0NDg4M3ww&ixlib=rb-4.0.3&q=85");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 323px auto 0;
}

.u-section-1 .u-countdown-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 60px;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 309px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 317px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 322px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 8px;
    margin-left: -11px;
    margin-right: -11px;
    padding: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 374px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 3rem;
  }
}